<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Appointments</title>
        <link rel="stylesheet" href="css/meyer_css_reset.css">
      	<link rel="stylesheet" href="css/appointment.css">
    </head>

    <body>

      <main class="main-content">
       </main>

      <script id="event-list" type="text/html">
        <div id="home-page" class="home-page" name="home-page">
          <header>
            <img src ="logo.svg" alt="logo" class="logo" name="logo">
            <h1 class="title" name="title">Appointments</h1>
            <a class="secondary-action page-action" href="#events">&larr;</a>
          </header>

          <div class = "form">
            <form class="search-form" name="search-form">
                <input type="search" class="search" name="search" placeholder="Search">
                <input type="submit" class="search-button" name="search-button">
            </form>

            <div class="calendar" placeholder="calendar placeholder">calendar placeholder
            </div>

            <div class="current-day" name="current-day">Friday, May 29, 2015</div>
                <ul class="date-container" name="date-container">
                    <li class="day" name="day">
                        <ul >
                          <li class="description" name="description" value="<%- m.description %>">
                          </li>
                          <li class="datefrom" name="datefrom" value="<%- m.datefrom %>" >
                          </li>
                      <li class="dateto" name="dateto" value="<%- m.dateto %>">
                      </li>
                        </ul>
                    </li>
                </ul>
            </div>
          </div>
        </script>

        <script id="404" type="text/html">
           <header class="page-header">
             <h1 class="page-title">404 not found</h1>
           </header>
           <div class="page-content stack-form">
              <a href="#events" class="btn btn-primary">View all users</a>
           </div>
        </script>


        <div class="page2" id="page2" name="page2">
            <h2 class="event-details" name="event-details">Event Details</h2>
            <input type="submit" class="form-submit" name="form-submit">

            <div class="scroll-hide" name="scroll-hide">

                <form class="event-form" name="event-form">
                    <input type="text" class="description" name="description" placeholder="Description">
                    <input type="datetime" class="datefrom" name="datefrom" placeholder="Beginning Date and Time">
                    <input type="datetime" class="dateto" name="dateto" placeholder="Ending Date and Time">
                    <input type="reminder" class="reminder" name="reminder" placeholder="Reminder">
                    <input type="text" class="notes" name="notes" placeholder="notes">
                    <fieldset>
                        <legend>Address</legend>
                        <label for="streetaddress">Address</label><input type="text" class="streetaddress" name="streetaddress" />
                        <label for="city">City</label><input type="text" class="city" name="city" />
                        <label for="state">State</label><input type="text" id="state" name="state" />
                        <label for="zip" >Zip Code</label><input type="text" class="zip" name="zip"/>
                    </fieldset>
                    <input type="text" class="web-address" name="web-address" placeholder="website address">
                    <div id="map-canvas" class="map" name="map">google map</div>
                </form>
            </div>
      </div>

    <script src="js/backbone-min.js/index.js"></script>
    <script src="js/.bower.json/index.js"></script>
    <script src="js/jquery-2.1.4.min/index.js"></script>
    <script src="js/app.js"></script>
    <script src="js/appointments.js"></script>
    <script src="js/event-controller.js"></script>
    <script src="js/event-edit-controller.js"></script>
    <script src="js/event-new-controller"></script>
    <script src="js/event.js"></script>
    <script src="js/goto.js"></script>
    <script src="js/init.js"></script>
    <script src="js/object_store.js"></script>
    <script src="js/router.js"></script>
    <script src="js/show.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="serialize-form.js"></script>
    </body>
